.header-top{
  margin-bottom: 130px;
  padding-top: 25px;
}

.header-top__box{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-top__logo{
  font-family: "Lora" , "Times New Roman" , serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 26px;
  text-decoration: none;
  color: #FFFFFF;
}

.header-top__list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header-top__item{
  margin-right: 40px;
}

.header-top__item:nth-child(4){
  margin-right: 0;
}

.header-top__link{
  font-family: "Oxygen" , "Verdana" , sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: #FFFFFF;
}